.flexbox-container{
    display:flex;
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333 ;
    background-color: #dfdfdf
}

 /* flexbox items will start by default from the START of the main axis(כלומר במאוזן,משמאל לימין)
//unless you make it :  */ */
.flexbox-container{
justify-content: flex-end;
/* and then he will start from tha end of the main axis, */
justify-content: center;
/* wil make our items CENTER ALIGN */
justify-content: space-between;
/* /ָ*will make an even space between all of our items inside the container */ 
justify-content:space-around;
/* will make an even space between all of our items and between them and the container bounderies */


align-items:stretch ;
/* is the DEFAULT  */
align-items: center;
/* will make our items align BUT WILL NOT STRETCH THEM  */
align-items: flex-start; 
/* will align our items from the TOP of the container using our CROSS AXIS  */
align-items: flex-end;
/* litterly the opposite */

align-content: center;
/* will keep our content aligned in the center nevertheless about our screen size, he will SHRINK them tho:  */

flex-wrap: wrap;
/* keeping our items wraped and does NOT SHRINK our items,  */
}
