table {
    position: relative;
    margin: auto;
}

td {
    padding: 0;
    height: 80px;
    width: 80px;
    background-color: tomato;
    text-align: center;
}



.container {
    margin: 100px 273.5px;
    background-color: #361500;
    width: 700px;
    height: 730px;
}


.l {
    height: 80px;
    width: 80px;
    background-color: #E8C07D;
    padding: 0;
    user-select: none;

}


.b {
    height: 80px;
    width: 80px;
    background-color: #8E3200;
    padding: 0;
    user-select: none;

}

table {

    margin-left: auto;
    margin-right: auto;
    border-color: #e3cfae;
    border: solid 1px;

}

.winner-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50;
    border-radius: 10px;
    width: max-content;
}

.bs {
    width: 65px;
    height: 65px;
}

.selected {
    background-color: cornflowerblue;
}

.possible-move {
    background-color: aquamarine;
}